.content, .nav .links, .nav .logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
@media only screen and (min-width: 850px) {
  .nav {
    padding: 20px 100px;
  }
}
.nav .link {
  text-decoration: none;
  text-transform: uppercase;
  color: #6368c0;
  margin-right: 15px;
  font-weight: bold;
  font-size: 18px;
}
.nav .link:last-of-type {
  margin-right: 0;
}
.nav .link:hover {
  color: #282b62;
}
.nav .logo-container {
  font-family: "hanalei";
  font-size: 40px;
  color: #282b62;
}
.nav .logo {
  width: 50px;
  height: 50px;
  fill: #282b62;
}
.content, .intro {
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro {
  flex-direction: column;
  padding: 0 30px;
  text-align: center;
}
@media only screen and (min-width: 850px) {
  .intro {
    padding: 0 150px;
  }
}
.intro .heading {
  font-family: "playfair_displayregular";
  font-size: 35px;
  color: #282b62;
}
@media only screen and (min-width: 850px) {
  .intro .heading {
    font-size: 50px;
  }
}
.intro .text {
  color: #6368c0;
  font-size: 18px;
  border-bottom: 1px solid #6368c0;
  padding-bottom: 50px;
  max-width: 700px;
}

.content, .recipes-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.recipes-container {
  max-width: 1000px;
  flex-direction: column;
}
.recipes-container .heading {
  font-size: 25px;
  text-transform: uppercase;
  color: #282b62;
}
@media only screen and (min-width: 850px) {
  .recipes-container .heading {
    font-size: 35px;
  }
}
.recipes-container .recipes {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 30px 20px;
  width: 100%;
}

.recipe {
  max-height: 500px;
}
.recipe:hover .overlay {
  opacity: 1;
  transition: opacity 0.7s ease;
}
.recipe .image {
  width: 250px;
  height: 250px;
  position: relative;
  display: block;
  object-fit: cover;
}
@media only screen and (min-width: 850px) {
  .recipe .image {
    width: 500px;
    height: 500px;
  }
}
.recipe .link {
  position: relative;
  display: table-cell;
}
.recipe .title {
  font-family: "playfair_displayregular";
  color: white;
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.recipe .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: #00000080;
}

.footer {
  width: 100%;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 25px;
  font-size: 18px;
}
@media only screen and (min-width: 850px) {
  .footer {
    margin-top: 120px;
    margin-bottom: 60px;
  }
}
.footer .link {
  color: #6368c0;
  text-decoration: none;
}
.footer .link:hover {
  text-decoration: underline;
  color: #282b62;
}

@font-face {
  font-family: "playfair_displayregular";
  src: url("playfairdisplay-variablefont_wght-webfont.woff2") format("woff2"), url("playfairdisplay-variablefont_wght-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "hanalei";
  src: url("HanaleiFill-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  line-height: 1.6;
  letter-spacing: 1.1px;
}

.content {
  flex-direction: column;
}

/*# sourceMappingURL=styles.css.map */
