@import 'variables';

.footer {
  width: 100%;
  text-align: center;
  margin-top: 55px;
  margin-bottom: 25px;
  font-size: $font-small;
}

@media only screen and (min-width: $mq) {
  .footer  {
    margin-top: 120px;
    margin-bottom: 60px;
  }
}

.footer .link {
  color: $secondary-color;
  text-decoration: none;
}

.footer .link:hover {
  text-decoration: underline;
  color: $primary-color;
}
