@import 'variables';
$margin-mobile: 50px;
$margin-desktop: 220px;

.footer {
  width: 100%;
  text-align: center;
  margin-top: $margin-mobile;
  margin-bottom: $margin-mobile / 2;
  font-size: $font-small;

  @media only screen and (min-width: $mq) {
    margin-top: $margin-desktop;
    margin-bottom: $margin-desktop / 2;
  }

  .link {
    color: $secondary-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      color: $primary-color;
    }
  }
}
