@import 'variables';

.nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;

  @media only screen and (min-width: $mq) {
    padding: 20px 100px;
  }

  .link {
    text-decoration: none;
    text-transform: uppercase;
    color: $secondary-color;
    margin-right: 15px;
    font-weight: bold;
    font-size: $font-small;
  }

  .link:hover {
    color: $primary-color;

    &:last-of-type {
      margin-right: 0;
    }
  }

  .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'hanalei';
    font-size: $logo-font;
    color: $primary-color;
  }

  .logo {
    width: $logo-width;
    fill: $primary-color;
  }

  .links {
    display: flex;
    align-items: center;
  }
}
