@import 'variables';
@import 'helpers';

.recipes-container {
  @extend %centered;
  max-width: 1000px;
  flex-direction: column;

  .heading {
    font-size: $font-medium;
    text-transform: uppercase;
    color: $primary-color;

    @media only screen and (min-width: $mq) {
      font-size: $font-big;
    }
  }

  .recipes {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 30px 20px;
    width: 100%;
  }
}

.recipe {
  max-height: 500px;

  &:hover .overlay {
    opacity: 1;
    transition: opacity 0.7s ease;
  }

  .image {
    @include square(250px);
    position: relative;
    display: block;
    object-fit: cover;

    @media only screen and (min-width: $mq) {
      @include square(500px);
    }
  }

  .link {
    position: relative;
    display: table-cell;
  }

  .title {
    font-family: 'playfair_displayregular';
    color: white;
    font-size: $font-medium;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    background-color: #00000080;
  }
}
